/* ページ全般 */
mat-card {
  max-width: 700px;
  margin: 0 auto;
  padding: 60px 0;
  background-color: #39424b;
}

/* 文字「ごめんね、ページが見つからなかった」 */
p {
  font-size: 30px;
  color: white;
}

/* ボタン */
button {
  outline:none;
  background-color: blueviolet;
}
