.page {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #39424b;
  border-left: 1px solid ;
  border-right: 1px solid;
  box-shadow: 0 0 15px;
}

.page section{
  margin: 50px 10px 30px;
  background-color: #39424b;
}

.page section.card .error-code {
   color : white;
  font-size: 36px;
  line-height: 70px;
}
.btn-primary {
  background-color: blueviolet;
}
