
<div class="page">
  <section class="container">
    <ng-container *ngIf="user">
      <div class="image"><img src="//placehold.jp/150x150.png" class="rounded-circle" alt="{{ user.displayName }}"></div>
      <div class="form-group">
        <h5>【名前】</h5>
        <p>{{ user.displayName }}</p>
      </div>
      <div class="form-group">
        <h5>【ID】</h5>
        <p>{{ user.uid }}</p>
      </div>
      <button mat-raised-button href="#" class="bottuoncolor btn btn-primary btn-lg "(click)="goBack($event)">戻る</button>

    </ng-container>
  </section>
</div>
