@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* テキストボックスの横幅 */
.input-me {
  width: 90%;
}

.inputs {
  width: 100%;
}
/* 送信ボタン */
button {
  float: right;
  color: white;
  background-color: green;
  margin: 5px;
}

@media (prefers-color-scheme: light) {
  div {
    background-color: white;
    color: black;
  }

}

@media (prefers-color-scheme: dark) {
  form {
    background-color: black;
    color: white;
    -webkit-text-fill-color:white;
  }  
}