<form class="chat-form">
  <div class="input-group">
    <textarea matInput [(ngModel)]="content" name="content" class="form-control" placeholder="Aa" matTextareaAutosize matAutosizeMinRows="2"
            matAutosizeMaxRows="5"></textarea>
            <div class="form-header d-flex flex-row-reverse mb-2">
                <span class="input-group-btn">
                  <button mat-icon-button class="btn btn-info btn-sm bottuoncolor" type="submit" tabindex="2"
                    (click)="addComment(content)"> 送信 </button>
                </span>
              </div>
  </div>

</form>
