<div class="page">
  <div class="container">
    <form #f="ngForm" (ngSubmit)="login(f)">
      <h2 class="heading text-center">ログイン</h2>
      <div class="form-group">
        <input type="email" ngModel name="email" class="form-control" placeholder="メールアドレスを入力" required autofocus>
      </div>
      <div class="form-group">
        <input type="password" ngModel name="password" class="form-control" placeholder="パスワードを入力" required>
      </div>
      <button class="btn btn-lg btn-primary" type="submit">ログイン</button>
    </form>
    <div class="note">
      <a routerLink="/signup">アカウントを新規作成</a>
    </div>
  </div>
</div>
