/* ページ全般 */
.page {
  overflow: scroll;
  height: 100%;
}

/* ニックネーム編集欄・位置・大きさ*/
.container {
  text-align: center;
  margin-top: 10%;
  margin-left: center;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

/* 入力欄 */
.userNameDetail {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* ボタン */
button[type="submit"] {
  outline:none;
  cursor: pointer;
  color: white;
  background-color: green;
}
