/* ログアウトの場合 */
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/angular-chat-b2b84.appspot.com/o/welecomePage.png?alt=media&token=0e195869-46aa-4960-b986-692b2cdacb76');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/* ログイン済み */

/* 真ん中に表示する位置の設定 */
.page {
  overflow: scroll;
  overflow-x: hidden;
  float: center;
  min-width: 50%;
  max-width: 75%;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;
  /* background-color: #fff; */
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}
section {
  margin: 50px 10px 90px;
}

/* 1チャットについて */
.page .chat .media-body {
  padding: 15px;
  margin: 0 10px;
  border-radius: 4px;
  font-size: 15px;
  word-break: break-all;
}
.media-body h4.media-heading {
  color: white;
  font-size: 13px;
  font-weight: bold;
}
.media-body .media-date {
  color: #aaaaaa;
  font-size: 11px;
}
.media-body pre {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  margin: 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.media-body h4.media-heading .fa {
  cursor: pointer;
}
.media-body h4.media-heading .fa:hover {
  color: #666;
}
.media-body div.edit-buttons {
  margin-top: 10px;
  text-align: center;
}

/* 共通のトプ画 */
.icon {
  display: block;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: .3rem;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}
/* 自分のトプ画 */
.media-right .icon {
  border-radius: 50%;
  background-color: #35b8c2;
}
/* 相手のトプ画 */
.media-left .icon {
  border-radius: 50%;
  background-color: #f0974e;
}

/* 送信済みの編集するときの入力欄 */
.input-group {
  display: flex;
  flex-direction: column;
}
.input-group > * {
  width: 100%;
}

/* チャット送信欄 */
mat-card {
  /* 以下の２行はヘッダーやフッターと被らないようにするプログラム */
  position: fixed;
  z-index: 999;
}
/* チャット送信欄 */
.chat-editor {
  bottom: 0;
  padding: 0 10px 0 10px;
  /* min-width: 49%;
  max-width: 75%; */
  width: 75%;
}

@media (prefers-color-scheme: light) {
  /* ようこそ */
  .whiteTheme {
    display:none;
  }
  .darkTheme {
    display:block;
  }
  .page {
    background-color: white;
    color: black;
  }
    
  }
  
  @media (prefers-color-scheme: dark) {
    /* ようこそ */
    .whiteTheme {
      display:block;
    }
    .darkTheme {
      display:none;
    }
    /* ログイン後 */
    .page {
    background-color: black;
    color: white;
    }
    input ::placeholder {
      color: white;
    }

    mat-card {
       background-color: black;
       color:white;
    }
  }