/* ページ全般 */
.page {
  height: 100%;
  padding: 10px 0;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/angular-chat-b2b84.appspot.com/o/welecomePage.png?alt=media&token=0e195869-46aa-4960-b986-692b2cdacb76');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/* アカウント作成カード・位置・大きさ  */
.container {
  margin-top: 10%;
  text-align: center;
  margin-left: center;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

/* youchatロゴ設定*/
img {
  outline: none;
  width: 25%;
  margin-left: 37.5%;
}

/* メールアドレス・パスワードの入力欄のcss */
.form-group {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* ボタン */
button[type="submit"] {
  cursor: pointer;
  color: white;
  background-color: #3f51b5;
}

/* ログインする場合 */
.login {
  text-align: center;
  margin: 20px 0;
}

@media (prefers-color-scheme: light) {
  mat-card {
    background-color: white;
    color: black;
  }

  .whiteTheme {
    display: none;
  }

  .darkTheme {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  mat-card {
    background-color: black;
    color: white;
  }

  mat-form-field {
    -webkit-text-fill-color: white;
  }

  .whiteTheme {
    display: block;
  }

  .darkTheme {
    display: none;
    text-align: center;
  }
}
