/* ページ全般 */
.page {
  overflow: scroll;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #fff;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}

/* アカウント作成カード・位置・大きさ  */
.container  {
  margin-top: 10%;
  text-align: center;
  margin-left: center;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
/* アカウント作成の文字 */
.heading {
  margin: 30px 0;
}
/* メールアドレス・パスワードの入力欄のcss */
.form-group {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
/* ボタン */
button[type="submit"] {
  cursor: pointer;
  color: white;
  background-color: #3f51b5;
}
/* ログインする場合 */
.login {
  text-align: center;
  margin: 20px 0;
}
