<mat-toolbar color='primary' class='hedder'>
  <img src='https://firebasestorage.googleapis.com/v0/b/angular-chat-b2b84.appspot.com/o/LOGOwhite.png?alt=media&token=472d7013-81f1-4294-81b7-f76b54716a1f'routerLink="/" class= "navbar-brand" >

  <span class='fill-space'></span>
  <button mat-raised-button routerLink="/signup" *ngIf="!login" class="navbar-text text-white btn-primary">登録</button>
  <button mat-raised-button routerLink="/" *ngIf="login" class="navbar-text text-white btn-primary" (click)="logout()">ログアウト</button>
</mat-toolbar>
