/* ヘッダー全般 */
mat-toolbar{
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
}
/* youchatロゴ設定 */
img{
  outline:none;
  height: 40px;
  width: 146px;
}
mat-menu:hover {
  opacity: 0.9;
}
/* アカウントの設定関連のボタン */
mat-menu {
  z-index: 9999;
  position: fixed;
  flex: 1 1 auto;
  top: 0px;
  left: 0px;
}
/* ボタン・メニュー */
button {
  outline:none;
}
/* 真ん中に空白を作る */
.fill-space {
 flex: 1 1 auto;
}
