mat-toolbar{
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
}
mat-menu {
  z-index: 9999;
  position: fixed;
  flex: 1 1 auto;
  top: 0px;
  left: 0px;
}
img{
  border:none;

}

.fill-space {
 flex: 1 1 auto;
}

.btn-primary {
  color: white;
  background-color: #3f51b5;
}
.navbar-brand{
  height: 40px;
  width: 146px
}
button {
  border: none;
}
