<mat-toolbar color='primary' class='hedder' *ngIf='login' >
  <img align='left' src='https://firebasestorage.googleapis.com/v0/b/angular-chat-b2b84.appspot.com/o/LOGOwhite.png?alt=media&token=472d7013-81f1-4294-81b7-f76b54716a1f'routerLink='/' class= 'navbar-brand' >
  <span class='fill-space'></span>
  <button mat-icon-button [matMenuTriggerFor]='menu' align='right'>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu='matMenu'>
    <button mat-menu-item>ライトテーマ</button>
    <button mat-menu-item>ダークテーマ</button>
    <button mat-menu-item routerLink='/users/profile'>ニックネームの編集</button>
    <button mat-menu-item (click)='logout()'>ログアウト</button>
  </mat-menu>
</mat-toolbar>
