<div class='page'>
  <div class='inner'>
      <button mat-icon-button [routerLink]="['/timeline']">X</button>
      <ng-container *ngIf='user'>
          <div class='image'>
            <img src='https://firebasestorage.googleapis.com/v0/b/angular-chat-b2b84.appspot.com/o/profile.png?alt=media&token=e6ab8e2d-5432-43e9-8b0e-5a3bdac166b0' class='rounded-circle' alt='{{ user.displayName }}'>
          </div>
          <div class='form-group'>
            <h1>{{ user.displayName }}</h1>
          </div>
          <div class='form-group'>
            <p>ID：{{ user.uid }}</p>
          </div>
        </ng-container>
  </div>
</div>
