/* ページ全般・右側に表示・ヘッダーと被らないようにする */
.page {
  overflow: scroll;
  overflow: hidden;
  float: right;
  min-width: 0%;
  max-width: 25%;
  height: 100%;
  padding-top: 20px;
}

/* user-detail-showのみスクロールする */
.inner {
  margin: 50px 0;
}

/* トプ画を中央に配置 */
.image {
  text-align: center;
}

/* トプ画のサイズ設定 */
img{
  width: 80%;
  height: auto;
}

button {
  outline: none;
  float: right;
}