/* ユーザリスト全般・左側に表示・ヘッダーと被らないようにする */
.user-list {
  overflow: scroll;
  overflow-x: hidden;
  float: left;
  width: 25%;
  height: 100%;
}

/* user-detail-showのみスクロールする */
.inner {
  margin: 60px 0;
}

/* 左側に */
.users {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* トプ画+ユーザ名 */
mat-card {
  outline:none;
  height: 88px;
}

/* トプ画のサイズ */

img{
  width: 40px;
  height: 40px;
}

/* トプ画をユーザ名の左に表示 */
.image {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

/* ユーザ名 */
b {
  font-size: 25px;
  margin: auto;
}
@media (prefers-color-scheme: light) {
  div {
    background-color: white;
    color: black;
  }
    
  }
  
  @media (prefers-color-scheme: dark) {
    .user-list {
    background-color: black;
    color: white;
    }
    mat-card {
      background-color: black;
      color: white;
      }
    mat-card:hover {
      background-color:#00002D;
    }
  }